[mysqld]
socket                          =/opt/app/mysql-5.7.25/mysqld.sock
pid-file                        =/opt/app/mysql-5.7.25/mysqld.pid
#basedir                         =/opt/app/mysql-5.7.25
#log-error                       =/opt/app/mysql-5.7.25/logs/error.log
#datadir                         =/opt/data/css/mysql-5.7.25/
#tmpdir                          =/opt/data/css/mysql-5.7.25_tmp

[client]
user=root
host=127.0.0.1
port=4000
